<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission" />

    <uses-permission
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Shizuku -->
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <!-- 修改或删除您共享存储空间中的内容 -->
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="29"/>

    <!-- 显示通知 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取系统日志 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- 请求安装文件包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 查找设备上的账号 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIDE_Library"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MT管理器 -->
        <activity
            android:name="bin.mt.file.content.MTDataFilesWakeUpActivity"
            android:exported="true"
            android:taskAffinity="${applicationId}.MTDataFilesWakeUp"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <provider
            android:name="bin.mt.file.content.MTDataFilesProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="${applicationId}.MTDataFilesProvider"
            android:grantUriPermissions="true">
            <intent-filter>
                <action
                    android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>


    </application>

</manifest>